@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Bold.otf") format("truetype");
  font-style: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: medium;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "UnicaOne";
  src: url("/fonts/UnicaOne-Regular.ttf") format("truetype");
  font-style: normal;
}
