* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Satoshi", sans-serif;
  overflow-x: hidden;
}
button,
a,
input {
  font-family: "Satoshi", sans-serif;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* width */

/* Handle */

@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }
}
